@import 'nib'

@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

main-color = #fa5b4d
background-color = #faf9f0

bodj
  font-family 'Georgia'
  background-color background-color
  color #444
