nav.navbar.navbar-default.navbar-fixed-top(ng-controller="NavigationController", ng-class="{'big-nav': !minimizeNav}")
  .container
    .navbar-header
      button.navbar-toggle(data-toggle="collapse", type="button", data-target="#bs-example-navbar-collapse-1")
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#top", du-smooth-scroll)
        span
          | {{ appName }}
          img.logo-nav(src="/images/logo.png")
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      ul.nav.navbar-nav.navbar-right
        li.hidden
          a(href="#top")
        li(du-scrollspy)
          a(href="#products", du-smooth-scroll, du-scrollspy) {{ products }}
        li
          a(href="#about", du-smooth-scroll, du-scrollspy) {{ about }}
        li
          a(href="#photos", du-smooth-scroll, du-scrollspy) {{ photos }}
        li
          a(href="#contact", du-smooth-scroll, du-scrollspy) {{ contact }}
