extends layout
block content
  section#products
    .container(ng-controller="ProductsController")
      .row
        .col-md-12.text-center
          h2.section-heading Products
          h3.section-subheading Retail and Wholesale. We deliver!
      .row
        div.products(ng-repeat="row in productColumns")
          .col-md-6.text-center
            ul.list-unstyled
              li.product(ng-repeat="product in row")
                span {{ product }}
  section#about.bg-light-gray
    .container(ng-controller="AboutController")
      .row
        .col-md-12.text-center
          h2.section-heading {{ heading }}
          h3.section-subheading Testing
      .row
        .col-md-12
          ul.timeline
            li
              .timeline-image
                img.img-circle.img-responsive(src="images/about/1.jpg", alt="our farm")
              .timeline-panel
                .timeline-heading
                  h4 2004-2005
                  h4.subheading Our humble beginnings
                .timeline-body
                  p.text-muted Lorem ipsum
            li.timeline-inverted
                .timeline-image
                  img.img-circle.img-responsive(src="images/about/1.jpg", alt="our farm")
                .timeline-panel
                  .timeline-heading
                    h4 March 2015
                    h4.subheading Shauna buys a big red truck
                  .timeline-body
                    p.text-muted Lorem ipsum


