doctype html(lang="en")
html
  head
    title All Seasons Hay
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

    link(rel="stylesheet", href="libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="stylesheets/style.css")

    // libs
    script(src="libs/angular/angular.min.js")
    script(src="libs/angulartics/dist/angulartics.min.js")
    script(src="libs/angular-route/angular-route.min.js")
    script(src="libs/angular-scroll/angular-scroll.min.js")

    // load angular
    script(src="javascripts/controllers.js")
    script(src="javascripts/appRoutes.js")
    script(src="javascripts/app.js")

    script(src="javascripts/analytics.js")

  body#top(ng-app="allSeasonsHay", ng-controller="MainController", scroll)
    include partials/nav
    include partials/header
    block content
    include partials/footer
