doctype html(lang="en")
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

    link(rel="stylesheet", href="libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="stylesheets/style.css")

    // libs
    script(src="libs/angular/angular.min.js")
    script(src="libs/angular-route/angular-route.min.js")
    script(src="libs/angular-scroll/angular-scroll.min.js")

    // load angular
    script(src="javascripts/controllers.js")
    script(src="javascripts/appRoutes.js")
    script(src="javascripts/app.js")

  body#page-top(ng-app="allSeasonsHay", ng-controller="MainController", scroll)
    div(ng-controller="NavigationController")
      nav.navbar.navbar-default.navbar-fixed-top(ng-class="{'big-nav': !minimizeNav}", du-scroll-container="container")
        .container
          .navbar-header
            button.navbar-toggle(data-toggle="collapse", type="button", data-target="#bs-example-navbar-collapse-1")
              span.sr-only Toggle Navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="#", scroll-to="#page-top", duration="800", easing="easeInQuad") {{appName}}
          .collapse.navbar-collapse#bs-example-navbar-collapse-1
            ul.nav.navbar-nav.navbar-right
              li.hidden
                a(href="#page-top")
              li
                a(href="#products", du-smooth-scroll du-scrollspy) {{ products }}
              li
                a(href="#about", du-smooth-scroll du-scrollspy) {{ about }}
              li
                a(href="#photos", du-smooth-scroll du-scrollspy) {{ photos }}
              li
                a(href="#contact", du-smooth-scroll du-scrollspy) {{ contact }}

    header
      .container
        .intro-text
          .intro-lead-in All Seasons Hay
          .intro-heading Hi!
          a.btn.btn-xl(href="#services", du-smooth-scroll) Tell me more
    .container(du-scroll-container)
      block content
